<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917597716063-godgini11mrf1kp80f14a582brb5gjch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917597716063-godgini11mrf1kp80f14a582brb5gjch</string>
	<key>API_KEY</key>
	<string>AIzaSyCnegfGK8SLOwFwYIt6BMf7nMfpvrWyrMU</string>
	<key>GCM_SENDER_ID</key>
	<string>917597716063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirebase-e7661</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirebase-e7661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917597716063:ios:4436ee24be4d6a360925ea</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativefirebase-e7661.firebaseio.com</string>
</dict>
</plist>